* {
  color: pink;
}
p { 
  color: darkred; 
}
strong {
  color: darkred;
}
i {
  color: darkred;
}

.otsikko {
  color: blue;
}
.otsikko2 {
  color: darkred;
}
.teksti {
  color: yellow;
}

#punainen-kohta {
  color: darkred;
}

#kirkas-punainen {
  color: red;
}

